<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>313868440120-p264v7ngjj7pcrgmdqo38g5g49k7g8ig.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.313868440120-p264v7ngjj7pcrgmdqo38g5g49k7g8ig</string>
	<key>API_KEY</key>
	<string>AIzaSyBa5N-OydvOZzz124GXAoQK3hHrL0SNyR8</string>
	<key>GCM_SENDER_ID</key>
	<string>313868440120</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nomadjonno.Prop</string>
	<key>PROJECT_ID</key>
	<string>prop-33a1a</string>
	<key>STORAGE_BUCKET</key>
	<string>prop-33a1a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:313868440120:ios:5ed9260c760114d9da8ccd</string>
	<key>DATABASE_URL</key>
	<string>https://prop-33a1a.firebaseio.com</string>
</dict>
</plist>